<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214740465775-bjeet1p0a53mu8v5bitbs598mdm5fh6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214740465775-bjeet1p0a53mu8v5bitbs598mdm5fh6l</string>
	<key>API_KEY</key>
	<string>AIzaSyCLvpPlx83SDc7YXxTV8l5QWaE9nOKnbcU</string>
	<key>GCM_SENDER_ID</key>
	<string>214740465775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uts.student.FitnessApp</string>
	<key>PROJECT_ID</key>
	<string>utsfitnessapp</string>
	<key>STORAGE_BUCKET</key>
	<string>utsfitnessapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214740465775:ios:fdd659837ebaa908e1759a</string>
</dict>
</plist>